<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% load static %}
    <h1>Listado de Jugadores</h1>
    <a href="nuevoJugadores">Agregar</a>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {%for jugador in jugadores%}
                <tr>
                    <td>{{jugador.id}}</td>
                    <td>{{jugador.nombre}}</td>
                    <td>{{jugador.apellido}}</td>
                    <td><a href="detalleJugadores/{{jugador.id}}">Detalle</a></td>
                    <td><a href="editarJugadores/{{jugador.id}}">Editar</a></td>
                    <td><a href="eliminarJugadores/{{jugador.id}}">Eliminar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>